<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All Record</title>
</head>
<body>
    <h1>Show All Employee Records</h1>
    <table border="1">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Phone No</th>
            <th>Actions</th>
        </tr>
        {% for employee in emp %}
        <tr>
            <td>{{ employee.eid }}</td>
            <td>{{ employee.ename }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>
                <a href="/edit/{{ employee.eid }}">Edit</a>
                <a href="/delete/{{ employee.eid }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/emp" target="_parent">Add New Employee</a>
</body>
</html>